# --- Scala & sbt ---
*.class
*.log
.cache
.history
.scala-build/
.bloop/
.bsp/
.metals/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.sb/

# --- Java & Maven ---
*.jar
*.war
*.ear
*.nar
hs_err_pid*
.gradle/
build/
out/
.mvn/
mvnw
mvnw.cmd

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
env/
venv/
ENV/
.ipynb_checkpoints/

# --- IDEs ---
.idea/
*.iml
.vscode/
*.sublime-workspace
*.sublime-project
*.classpath
*.project
*.settings/

# --- OS Generated ---
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
